- tuple
- 리스트와 유사함
- ( ) 로 값을 둘러쌈
- 리스트는 값의 생성,삭제,수정이 가능한데 튜플은 값을 변경할 수는 없음

In [2]:
# 빈 튜플 생성

tuple1 = ()

In [15]:
# 값을 가지고 있는 튜플 생성

tuple1 = (1,2,3)
tuple2 = (1,) # 1개의 요소만을 가질떄는 요소 뒤에 콤마가 반드시 필요
tuple3 = 1,2,3
tuple4 = ('a','b',('ab','cd'))

In [6]:
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple4)

(1, 2, 3)
1
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

- 튜플의 수정,삭제 불가

In [7]:
del tuple1[0]

TypeError: 'tuple' object doesn't support item deletion

In [8]:
tuple1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [9]:
t1 = (1,2,'a','b')
t1

(1, 2, 'a', 'b')

In [10]:
t1[3]

'b'

In [11]:
t1[1:]

(2, 'a', 'b')

In [16]:
t1 + tuple2

(1, 2, 'a', 'b', 1)

In [17]:
t1 * 2

(1, 2, 'a', 'b', 1, 2, 'a', 'b')

In [18]:
# 튜플을 리스트로 변환

print(list(tuple3))

[1, 2, 3]

In [19]:
list1 = list(tuple3)
list1

[1, 2, 3]

In [20]:
list1[0] = 5
list1

[5, 2, 3]

In [21]:
# 리스트를 튜플로 변환

t3 = tuple(list1)
t3

(5, 2, 3)

In [22]:
# 튜플 자체 삭제

del(t3)