### 조건문 : if

In [1]:
if True:
    print('Yes')

Yes

In [2]:
a = 200

if a < 100:
    print("a는 100보다 작다")
    
    
print("조건문에서 들여쓰기의 중요함")

조건문에서 들여쓰기의 중요함

In [3]:
# a는 100과 200 사이에 있다

if a >= 100 and a <=200:
    print("a는 100과 200 사이에 있다")

a는 100과 200 사이에 있다

In [4]:
if  100 <= a <=200:
    print("a는 100과 200 사이에 있다")

a는 100과 200 사이에 있다

In [5]:
# 12,6,18 이라는 세 개의 숫자를 변수에 담기
# 세 숫자 중 가장 큰 수와 가장 작은 수 출력


a, b, c = 12,6,18

max = a
if max < b:
    max = b
if max < c:
    max = c
    
    
min = a
if b < min:
    min = b
if c < min:
    min = c
    
print("가장 큰 수 : {0}, 가장 작은 수 : {1}".format(max, min))

가장 큰 수 : 18, 가장 작은 수 : 6

### 조건문 : if ~ else

In [6]:
if True:
    print('True')
else:
    print('False')

True

In [ ]:
a = 55

if a < 100:
    print("a는 100보다 작다")
else:
    print("a는 100보다 크다")

In [7]:
# score =90, grade = "A"  score가 90이상이고, grade가 A이면 합격 / 불합격

score,grade = 90, "A"

if score >=90 and grade == "A":
    print("합격")
else:
    print("불합격")

합격

In [9]:
# 숫자를 입력받은 후 그 숫자가 짝/홀수 인지 출력

num1 = int(input("숫자입력 : "))

if num1 % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자입력 : 25
홀수

In [10]:
import datetime

now = datetime.datetime.now()

print(now)

2021-06-28 12:51:07.770497

In [11]:
print("{}년 {}월 {}일".format(now.year,now.month,now.day))
print("{}시 {}분 {}초".format(now.hour,now.minute,now.second))

2021년 6월 28일
12시 51분 7초

In [ ]:
if now.hour < 12:
    print("오전")
else:
    print("오후")

### 조건문 : 삼항연산자

In [12]:
print("True는 참" if True else "True는 거짓")

True는 참

In [13]:
num1 = int(input("숫자입력 : "))

print("짝수" if num1 % 2 == 0 else "홀수")

숫자입력 : 25
홀수

### 조건문 : 중첩 if

In [14]:
a = 75

if a > 50:
    if a < 100:
        print("50보다 크고 100보다 작다")
    else:
        print("100보다 크다")
else:
    print("50보다 작다")

50보다 크고 100보다 작다

In [15]:
score = int(input("점수 입력 :"))

if score >= 90:
    print("A")
else:
    if score >= 80:
        print("B")
    else:
        if score >= 70:
            print("C")
        else:
            if score >= 60:
                print("D")
            else:
                print("F")

점수 입력 :95
A

### 조건문 : 다중조건 if ~ elif ~ else

In [16]:
num = 90

if num >= 90:
    print("등급 A")
elif num >= 80:
    print("등급 B")
elif num >= 70:
    print("등급 C")
elif num >=60:
    print("등급 D")
else:
    print("등급 F")

등급 A

In [ ]:
# 계산기 
# 두 개의 숫자 입력, 연산자 입력
# 사칙연산(+,-,*,/),   //, %, **


a = int(input('첫번째 수 입력'))
op = input("연산자 입력(+,-,*,/,//,%,**)")
b = int(input('두번째 수 입력'))


if op == "+":
    print(a, op, b, "=", a+b)  # 3 + 4 = 7
elif op == "-"
    print(a, op, b, "=", a-b)
elif op == "*"
    print(a, op, b, "=", a*b)
elif op == "/"
    print(a, op, b, "=", a/b)
elif op == "//"
    print(a, op, b, "=", a//b)
elif op == "%"
    print(a, op, b, "=", a%b)
elif op == "**"
    print(a, op, b, "=", a**b)
else:
    print("연산자 확인해 주세요")

### 반복문 - while

In [1]:
i = 1
while i < 11:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [5]:
i = 1
while i < 11:
    print(i, end=" ")
    i = i + 1

1 2 3 4 5 6 7 8 9 10

In [6]:
# 1~100 짝수만 출력

i = 0
while i <= 100:
    i += 2
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 102

In [7]:
# 1~100 홀수만 출력

i = 1
while i<=100:
    print(i, end=" ")
    i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [9]:
# 1~100 까지 합계를 구한 후 출력

sum,i = 0,0

while i < 101:    
    sum = sum + i # sum+=i 
    i = i+1  # i+=1
    
    
print("1~100까지 합 %d" % sum)

1~100까지 합 5050

In [11]:
# 구구단 출럭 : 사용자에게 구구단 받아서 출력

num = int(input("구구단 입력 : "))

i = 1
while i <= 9:
    print("%d * %d = %d" % (num, i, (num*i)))
    i += 1

구구단 입력 : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [12]:
# 사용자로부터 계속 입력을 받다가 사용자가 q 문자를 입력하면 종료


print('입력 중단을 원하면 q를 입력하세요')
data = ""

while data != "q":
    data = input("데이터 입력 : ")
    print(data)

입력 중단을 원하면 q를 입력하세요
데이터 입력 : kddkeidkkd
kddkeidkkd
데이터 입력 : dkdkdkdk
dkdkdkdk
데이터 입력 : dkdkdkeifdfkdfkd
dkdkdkeifdfkdfkd
데이터 입력 : q
q

### 반복문 - for

In [13]:
# range() : 범위지정

print(range(5))

range(0, 5)

In [14]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [15]:
print(list(range(1,5)))

[1, 2, 3, 4]

In [16]:
print(list(range(1,11,2)))

[1, 3, 5, 7, 9]

In [17]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [18]:
for i in range(1,11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [19]:
for i in range(1,101):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [20]:
for i in range(2,11,2):
    print(i, end=" ")

2 4 6 8 10

In [22]:
# 1~100까지 합계를 구한 후 출력

sum = 0
for i in range(101):
    sum += i
    
print("1~100 까지 합 : ",sum)

1~100 까지 합 :  5050

In [23]:
# 1~사용자가 입력한 값까지 합계를 구한 후 출력

num = int(input("숫자 입력 ")) + 1
sum = 0
for i in range(1, num):
    sum += i
print("입력한 값까지 합계 :",sum)

숫자 입력 10
입력한 값까지 합계 : 55

In [3]:
# sum() : 합계

print(sum(range(1,10)))
print(sum(range(1,101,2)))

45
2500

In [4]:
# 역순으로 출력

for i in range(5, -1, -1):
    print(i, end=" ")

5 4 3 2 1 0

In [5]:
word = "dreams"

for s in word:
    print("Word : ",s)

Word :  d
Word :  r
Word :  e
Word :  a
Word :  m
Word :  s

In [6]:
for i in range(3):
    for j in range(3):
        print(j, end=" ")
    print()

0 1 2
0 1 2
0 1 2

In [7]:
for i in range(3):
    for j in range(3):
        print("*", end=" ")
    print()

* * *
* * *
* * *

In [8]:
for i in range(5):
    for j in range(5):
        print(i+j, end=" ")
    print()

0 1 2 3 4
1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8

In [9]:
# 구구단 전체 출력

for i in range(2,10):
    for j in range(1,10):
        print("%d * %d = %2d" % (i,j, (i*j)), end = "\t")
    print()

2 * 1 =  2	2 * 2 =  4	2 * 3 =  6	2 * 4 =  8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18
3 * 1 =  3	3 * 2 =  6	3 * 3 =  9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27
4 * 1 =  4	4 * 2 =  8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36
5 * 1 =  5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45
6 * 1 =  6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54
7 * 1 =  7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63
8 * 1 =  8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72
9 * 1 =  9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [10]:
# 1 ~10 출력시 i가 5가 되면 루프 종료

i = 1
while i<=10:
    if i == 5:
        break
    print(i, end=" ")
    i += 1

1 2 3 4

In [18]:
# 1 ~10 출력시 5는 출력안하기

i = 1
while i<=10:
    if i == 5:  
        i += 1
        continue
    print(i, end=" ")
    i += 1

1 2 3 4 6 7 8 9 10

In [19]:
for i in range(1,11):
    if i == 5:
        continue
    print(i, end=" ")

1 2 3 4 6 7 8 9 10

In [20]:
for i in range(5):
    for j in range(5):
        if j<=i:
            print("*", end="")
    print()

*
**
***
****
*****

In [21]:
i= 0
while True:
    i+=1
    if i>5:
        break
    print("*"*i)

*
**
***
****
*****