### 조건문 : if

In [1]:
if True:
    print('Yes')

Yes

In [2]:
a = 200

if a < 100:
    print("a는 100보다 작다")
print("조건문에서 들여쓰기의 중요함")

조건문에서 들여쓰기의 중요함

In [3]:
# a는 100과 200 사이에 있다

if a > 100 and a <= 200:
    print("a는 100과 200사이에 있다.")

a는 100과 200사이에 있다.

In [4]:
if  100 <= a <= 200:
    print("a는 100과 200사이에 있다.")

a는 100과 200사이에 있다.

In [6]:
# 12,6,18이라는 세 개의 숫자를 변수에 담기
# 세 숫자 중 가장 큰 수와 가장 작은 수 출력

a, b, c = 12,18,6

max = a
if max < b:
    max = b
if max < c:
    max = c
    
min = a
if b < min:
    min = b
if c < min:
    min = c
    
print("가장 큰 수 : {0},가장 작은 수 : {1}".format(max,min))

가장 큰 수 : 18,가장 작은 수 : 6

### 조건문 : if ~ else

In [7]:
if True:
    print('True')
else:
    print('False')

True

In [8]:
a = 55

if a < 100:
    print("a는 100보다 작다")
else:
    print("a는 100보다 크다")

a는 100보다 작다

In [10]:
#  score= 90, grade="A" score가 90이상이고, grade가 A이면 합격/불합격

score,grade = 90,"A"

if score >= 90 and grade == "A":
    print("합격")
else:
    print("불합격")

합격

In [11]:
# 숫자를 입력받은 후 그 숫자가 짝/홀수 인지 출력

num1 = int(input("숫자 입력 : "))

if num1 % 2 == 0:
    print("짝수")
else:
    print("홀수")

숫자 입력 : 40
짝수

In [12]:
import datetime

now = datetime.datetime.now()

print(now)

2021-06-28 12:52:04.080566

In [13]:
print("{}년 {}월 {}일".format(now.year,now.month,now.day))
print("{}시 {}분 {}초".format(now.hour,now.minute,now.second))

2021년 6월 28일
12시 52분 4초

In [14]:
if now.hour < 12:
    print("오전")
else:
    print("오후")

오후

### 조건문 : 삼항 연산자

In [15]:
print("True는 참" if True else "True는 거짓")

True는 참

In [16]:
num1 = int(input("숫자 입력 : "))

print("짝수" if num1 % 2 == 0 else "홀수")

숫자 입력 : 25
홀수

### 조건문 : 중첩 if

In [17]:
a = 75

if a > 50:
    if a < 100:
        print("50보다 크고 100보다 작다")
    else:
        print("100보다 크다")
else:
    print("50보다 작다")

50보다 크고 100보다 작다

In [18]:
score = int(input("정수 입력 : "))

if score >= 90:
    print("A")
else:
    if score >= 80:
        print("B")
    else:
        if score >= 70:
            print("C")
        else:
            if score >= 60:
                print("D")
            else:
                print("F")

정수 입력 : 85
B

### 조건문 : 다중조건 if ~ elif ~ else

In [19]:
num = 90

if num >= 90:
    print("등급 A")
elif num >= 80:
    print("등급 B")
elif num >= 70:
    print("등급 C")
elif num >= 60:
    print("등급 D")
else:
    print("등급 F")

등급 A

In [20]:
# 계산기
# 두 개의 숫자 입력, 연산자 입력
# 사칙연산(+,-,*,/), //,%,**

num1 = int(input("첫번째 숫자 입력 : "))
num2 = int(input("두번째 숫자 입력 : "))

calc = input("연산자 입력(+,-,*,/,//,%,**) : ")

if calc == "+":
    print(num1 + num2)
elif calc == "-":
    print(num1 - num2)
elif calc == "*":
    print(num1 * num2)
elif calc == "/":
    print(num1 / num2)
elif calc == "//":
    print(num1 // num2)
elif calc == "%":
    print(num1 % num2)
elif calc == "**":
    print(num1 ** num2)
else:
    print("연산자를 확인해 주세요")

첫번째 숫자 입력 : 50
두번째 숫자 입력 : 20
연산자 입력 : *
1000