- 입력값을 가지고 어떤일을 수행한 후 결과물

```
def 함수명():
    해야할 일 나열
```

In [1]:
def hello():
    print("Hello!!!")

In [2]:
hello()

Hello!!!

In [3]:
def hello():
    return "Hello!!!"

In [4]:
print(hello())

Hello!!!

In [5]:
str = hello()

str += "hong"

print(str)

Hello!!!hong

- 전달인자 처리

In [6]:
def add(a,b):
    print(a + b)

In [7]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [8]:
add(5,3)

8

In [9]:
def add(a,b):
    return a + b

In [10]:
print(add(8,5))

13

In [11]:
hap = add(7,8)

print(hap)

15

-기본 파라메터 : 인자에 기본값을 주는 형태(함수 호출시 값이 넘어오면 넘어오는 값으로 사용하고, 안 넘어오는 경우에는 기본값을 사용)

In [13]:
def print_n_times(value, n=2):
    for i in range(n):
        print(value)

In [14]:
print_n_times("안녕하세요")

안녕하세요
안녕하세요

In [15]:
print_n_times("반갑습니다",5)

반갑습니다
반갑습니다
반갑습니다
반갑습니다
반갑습니다

In [36]:
# 초기값 인수는 맨 마지막에 사용

def say_myself(name,old,man=True):
    print("내 이름은 %s입니다." % name)
    print("내 나이는 %d입니다." % old)
    
    if man:
        print("남자")
    else:
        print("여자")

- 가변 파라메터 : 값을 넘기지 않아도 에러가 안남
    - 가변 파라메터는 하나만 사용
    - 가변 파라메터 다음에는 일반 매개 변수는 올 수 없음
    - *args

In [16]:
def add_many(*args):
    print(args)

In [17]:
add_many({"dessert":"macaroon","wine":"merlot"})

({'dessert': 'macaroon', 'wine': 'merlot'},)

In [18]:
add_many("35",25,"14","15")

('35', 25, '14', '15')

In [20]:
add_many([1,2,3,4,5])

([1, 2, 3, 4, 5],)

In [21]:
add_many()

()

In [22]:
def sum_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [23]:
sum_many(15,63,75,25,13,27,9,3)

230

In [24]:
sum_many(33,32,36)

101

In [25]:
sum_many()

0

In [26]:
def args_func(*args):
    print("args : ",args)
    
    for arg in args:
        print(arg)
    
    for k,v in enumerate(args):
        print(k,v)

In [27]:
args_func("Kim")

args :  ('Kim',)
Kim
0 Kim

In [28]:
args_func("Kim","Test","Python")

args :  ('Kim', 'Test', 'Python')
Kim
Test
Python
0 Kim
1 Test
2 Python

In [31]:
def sum_mul(choice,*args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 0
        for i in args:
            result *= i
    return result

In [32]:
sum_mul("add",1,2,3,4,5)

15

In [33]:
sum_mul("mul",1,2,3,4,5)

0

- **kwargs : 딕셔너리 형태

In [37]:
def example_mul(arg1,arg2,*args,**kwargs):
    print(arg1,arg2,args,kwargs)

In [38]:
example_mul(10,20)

10 20 () {}

In [39]:
example_mul(10,20,"choi","kim")

10 20 ('choi', 'kim') {}

In [40]:
example_mul(10,20,"choi","kim",age=25,name="park")

10 20 ('choi', 'kim') {'age': 25, 'name': 'park'}

### 다중 리턴

In [41]:
def func_mul(x):
    y1 = x * 100
    y2 = x * 200
    y3 = x * 300
    
    return y1,y2,y3

In [42]:
print(func_mul(100))

(10000, 20000, 30000)

In [43]:
y1,y2,y3 = func_mul(200)
print(y1,y2,y3)

20000 40000 60000

In [44]:
def func_mul2(x):
    y1 = x * 100
    y2 = x * 200
    y3 = x * 300
    
    return [y1,y2,y3]

In [46]:
print(func_mul2(100))

[10000, 20000, 30000]

In [47]:
# 두 개의 인자를 받아서 다중리턴하기
# 덧셈,곱셈

def sum_and_mul(a, b):
    return a*b,a+b

In [48]:
print(sum_and_mul(4,8))

(32, 12)

In [49]:
result1, result2 = sum_and_mul(4,8)

In [50]:
def say_nick(nick):
    if nick == "바보":
        return
    print("나의 별명은 %s" % nick)

In [51]:
say_nick("바보")

In [52]:
say_nick("야호")

나의 별명은 야호

### 변수의 유효범위

In [53]:
a = 1

def vartest(a):
    a = a+1

In [54]:
vartest(1)

In [55]:
print(a)

1

In [57]:
def func2():
    a += 3
    return a

In [58]:
# 함수 내부에서 함수 외부에 있는 변수를 참조하지 못함

print(func2())

UnboundLocalError: local variable 'a' referenced before assignment

In [59]:
def func2():
    global a #비추천
    a += 3
    return a

In [60]:
print(func2())

4

In [61]:
a = 1

def vartest(a):
    a = a+1
    return a

In [62]:
a = vartest(a)
a

2

### 연습문제

In [63]:
# 두 개의 인자와 연산자를 받아 사칙연산을 수행하는 fourResult 함수를 작성

def fourResult(num1,num2,op):
    if op == "+":
        return num1+num2
    elif op == "-":
        return num1-num2
    elif op == "*":
        return num1*num2
    elif op == "/":
        return num1//num2

In [65]:
a, b = 6, 3

print("{} {} {} = {}".format(a,"+",b,fourResult(a,b,"+")))
print("{} {} {} = {}".format(a,"-",b,fourResult(a,b,"-")))
print("{} {} {} = {}".format(a,"*",b,fourResult(a,b,"*")))
print("{} {} {} = {}".format(a,"/",b,fourResult(a,b,"/")))

6 + 3 = 9
6 - 3 = 3
6 * 3 = 18
6 / 3 = 2

In [66]:
# 위에서 작성한 함수를 변경하여 사용자로부터 입력받은 숫자를 사칙연산해주는
# 함수로 변경

num1 = int(input("첫번째 수 : "))
num2 = int(input("두번째 수 : "))
op = input("연산자 : ")


print("%d %s %d = %d" % (num1,op,num2,fourResult(num1,num2,op)))

첫번째 수 : 8
두번째 수 : 4
연산자 : +
8 + 4 = 12

In [67]:
# 1~100까지 숫자 중에서 소수를 구하여 리턴하는 함수 작성

prime_list = []

def isPrime(x):
    cnt = 0
    
    for i in range(1, x+1):
        if x % i == 0:
            cnt += 1
    
    if cnt == 2:
        prime_list.append(x)

In [68]:
for j in range(1,101):
    isPrime(j)

In [70]:
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [72]:
# 파보나치 수열 0,1,1,2,3,5,8,13...
# 입력을 정수 n으로 받았을때 n 이하까지 수열을 출력하는 함수


# 재귀함수 : 함수 안에서 자신의 함수를 다시 한번 호출

def fib(n):
    if n == 0:                  #n이 0일 때는 0을 리턴
        return n
    if n == 1:                 #n이 1일 때는 1을 리턴
        return n
    return fib(n-1) + fib(n-2) #n이 2이상일 때는 그 이전의 두 값을 더하여 리턴

In [73]:
for i in range(6):
    print(fib(i),end=" ")

0 1 1 2 3 5

In [74]:
import random

def getNumber():
    return random.randrange(1,46) # 1~45 사이의 숫자를 돌려줌

In [79]:
lotto = []

while True:
    num = getNumber()
    
    if lotto.count(num) == 0:
        lotto.append(num)
    
    if len(lotto) >= 6:
        break

print(lotto)

[1, 27, 18, 25, 12, 35]