### 리스트 생성

In [1]:
# 비어 있는 리스트 생성

list1 = []

In [2]:
# 요소가 들어 있는 리스트 생성

list2 = ['a','b','c']
list3 = ['a','b','c',1,2]
list4 = [1,2,3,4,5,6]
list5 = [1,2,['life','is','short']]

In [3]:
list2

['a', 'b', 'c']

In [4]:
list5

[1, 2, ['life', 'is', 'short']]

### 리스트 인덱싱

In [5]:
print(list2[1])

b

In [6]:
print(list5[2])

['life', 'is', 'short']

In [7]:
print(list5[2][1])

is

In [8]:
print(list5[-1][2])

short

In [11]:
list6 = [1,2,['a','b',['life','is']]]

# is 출력

print(list6[2][2][1])
print(list6[-1][-1][-1])
print(list6[-1][2][-1])

is
is
is

### 리스트 슬라이싱

In [14]:
print(list3[0:2])
print(list3[:2])
print(list3[:-1])

['a', 'b']
['a', 'b']
['a', 'b', 'c', 1]

In [15]:
print(list5[2:])

[['life', 'is', 'short']]

In [16]:
print(list5[2][:2])

['life', 'is']

In [18]:
# list4 => [3,4,5]

print(list4[2:5])
print(list4[2:-1])

[3, 4, 5]
[3, 4, 5]

### 리스트 연산자

```
+ : 연결(인덱싱의 경우 더하기 개념)
```

In [20]:
a = [1,2,3]
b = [4,5,6]
c = ['a','b','c']

print(a+b) # + : 연결
print(a+c)
print(a[0] + b[1]) # 인덱싱에 적용하는 + 산술연산 개념

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 'a', 'b', 'c']
6

```
* : 반복 
```

In [21]:
print(a * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
print(a[0]*3)

3

### 리스트 수정,변경,삭제

In [24]:
a[2] = 4
print(a)

[1, 2, 4]

In [25]:
a[2] = 'Life'
print(a)

[1, 2, 'Life']

In [26]:
a

[1, 2, 'Life']

In [27]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 'Life']

In [28]:
a[1] = [15,16,17]
a

[1, [15, 16, 17], 'b', 'c', 'Life']

In [29]:
a[1:3] = []
a

[1, 'c', 'Life']

In [30]:
del a[1]
a

[1, 'Life']

### 실습문제

In [37]:
# for 문을 사용하여 100이상의 숫자만 출력하기

numbers = [273,103,5,32,65,9,72,800,99]

for num in numbers:
    if num >= 100:
        print(num)

273
103
800

In [39]:
# numbers 안에 들어 있는 각 숫자들이 짝수인지 홀수인지 출력하기
# 273은 홀수입니다

for num in numbers:
    if num % 2 == 0:
        print("%d(은)는 짝수입니다" %num)
    else:
        print("%d(은)는 홀수입니다" %num)

273(은)는 홀수입니다
103(은)는 홀수입니다
5(은)는 홀수입니다
32(은)는 짝수입니다
65(은)는 홀수입니다
9(은)는 홀수입니다
72(은)는 짝수입니다
800(은)는 짝수입니다
99(은)는 홀수입니다

In [44]:
#주어진 숫자의 자릿수를 출력하기
#273은 3자리수입니다.

for num in numbers:
    print("{}는 {}자리 수입니다.".format(num,len(str(num))))

273는 3자리 수입니다.
103는 3자리 수입니다.
5는 1자리 수입니다.
32는 2자리 수입니다.
65는 2자리 수입니다.
9는 1자리 수입니다.
72는 2자리 수입니다.
800는 3자리 수입니다.
99는 2자리 수입니다.

In [45]:
list_of_list = [[1,2,3],[4,5,6],[7,8,9]]

list_of_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [46]:
# 1 2 3 4 5 6 7 8 9 출력

for list in list_of_list:
    for num in list:
        print(num, end=" ")

1 2 3 4 5 6 7 8 9

### 리스트 관련 함수

- append : 리스트에 요소 추가

In [47]:
a = [1,2,3]

a.append(4)
a

[1, 2, 3, 4]

In [48]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [49]:
a.append(7,8,9)
a

TypeError: append() takes exactly one argument (3 given)

- sort : 리스트 정렬

In [50]:
list1 = [25,75,15,9,6,3,36]
list1

[25, 75, 15, 9, 6, 3, 36]

In [51]:
list1.sort() # 오름차순 정렬
list1

[3, 6, 9, 15, 25, 36, 75]

In [52]:
list2 = ['k','z','a','q','r']
list2.sort()
list2

['a', 'k', 'q', 'r', 'z']

In [54]:
list3 = ['k','z','A','q','r','C']
list3.sort()
list3

['A', 'C', 'k', 'q', 'r', 'z']

In [55]:
list4 = ['ㄷ','ㄱ','ㅎ','ㅋ','ㅍ','ㄴ']
list4.sort()
list4

['ㄱ', 'ㄴ', 'ㄷ', 'ㅋ', 'ㅍ', 'ㅎ']

In [56]:
list5 = ["abc","tail","bcd","test","animal","korea"]
list5.sort()
list5

['abc', 'animal', 'bcd', 'korea', 'tail', 'test']

In [58]:
list3 = ['k','z','A','q','r','C']
list3.sort(reverse=True)
list3

['z', 'r', 'q', 'k', 'C', 'A']

- reverse : 리스트 뒤집기

In [59]:
list1 = ['a','c','b']
list1.reverse()
list1

['b', 'c', 'a']

- index : 위치 반환

In [60]:
list1 = [1,2,3,4]
list1.index(3)

2

- insert : 특정 위치에 요소삽입

In [61]:
list1.insert(0,17)
list1

[17, 1, 2, 3, 4]

- remove : 리스트 요소 제거

In [62]:
list1 = [1,2,3,1,2,3]
list1.remove(3)
list1

[1, 2, 1, 2, 3]

- pop() : 리스트 맨 마지막 요소 끄집어 내기
- pop(위치) : 리스트의 위치 요소 끄집어 내기

In [63]:
list1 = [12,13,14,15,16,17]
list1.pop()

17

In [64]:
list1

[12, 13, 14, 15, 16]

In [65]:
list1.pop(1)

13

In [66]:
list1

[12, 14, 15, 16]

- count : 리스트에 포함된 요소 x의 개수 세기

In [67]:
list1.count(12)

1

- clear() : 리스트 요소 모두 삭제

In [68]:
list1.clear()
list1

[]

- extend : 확장

In [69]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [70]:
a.extend([4,5,6])
a

[1, 2, 3, 4, 5, 6]

### 연습문제

In [83]:
#1~100까지의 숫자중에서 짝수만 들어있는 리스트 생성

a = []

# for i in range(2,101,2):
for i in range(101):
    if i % 2 == 0:
        a.append(i)
a.remove(0)
print(a, end=" ")

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [85]:
# A 학급에 총 9명의 학생들이 있다. 이 학생들의 중간고사 점수는 다음과 같다
# [70,60,55,75,95,90,80,85,100]
# A학급의 평균을 구하시오

a_class = [70,60,55,75,95,90,80,85,100]

total = 0

for i in a_class:
    total += i
    
print("A 학급 평균 : %.2f" % (total/len(a_class)))

A 학급 평균 : 78.89

In [86]:
# 다음 리스트에서 "Apple" 항목만 삭제하고 출력하기
fruit = ["Banana","Apple","Orange","Grape"]

fruit.remove("Apple")

print(fruit)

['Banana', 'Orange', 'Grape']

In [89]:
# 다음 리스트에서 "정" 항목만 삭제하고 출력하기
per = ["갑","을","병","정"]

per.pop()

print(per)

['갑', '을', '병']

In [90]:
list1 = []

if list1:
    print("True")
else:
    print("False")

False

In [91]:
list1 = [1,2,3]

if list1:
    print("True")
else:
    print("False")

True

In [92]:
fruit = ["사과","배","딸기","수박","바나나"]

if '딸기' in fruit:
    print("딸기가 있음")
else:
    print("딸기가 없음")

딸기가 있음

In [93]:
print('딸기' not in fruit)

False

In [94]:
print('딸기' in fruit)

True

In [95]:
list = [23,12,36,53,19]

for i in enumerate(list):
    print(i)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [96]:
for idx,value in enumerate(list):
    print("%d : %d" % (idx,value))

0 : 23
1 : 12
2 : 36
3 : 53
4 : 19

In [97]:
for idx,value in enumerate(list,start=1):
    print("%d : %d" % (idx,value))

1 : 23
2 : 12
3 : 36
4 : 53
5 : 19

In [ ]:
# 주차장 프로그램

parking_lot = []
top, car_name = 0,"A"

while True:
    no = int(input("[1]자동차 넣기 | [2]자동차 빼기 | [3]종료"))
    
    if no <=3:
        if no ==1:
            if top >=5:
                print("주차장 꽉 찼음")
            else:
                parking_lot.append(car_name)
                print("%s 자동차 들어감. 주차장 상태 ==> %s" % (car_name,parking_lot))
                top += 1
                car_name = chr(ord(car_name) + 1)
        elif no ==2:
            if top > 0:
                outCar = parking_lot.pop()
                print("%s 자동차 나감. 주차장 상태 ==> %s" % (outCar,parking_lot))
                top -= 1
                car_name = chr(ord(car_name) + 1)
            else:
                print("빠져나갈 자동차 없음")
        else:
            print("프로그램 종료")
            break