- 문자열(String) : 큰따옴표("") / 작은따옴표('') / 큰따옴표 3개 연속(""" """) / 작은따옴표 3개 연속(''' ''')

In [1]:
print("Python's favorite food is perl")

Python's favorite food is perl

In [2]:
multiline = '''
Life is too short
You need python
'''

print(multiline)

Life is too short
You need python

1. 문자열 연산

In [3]:
# + : 결합

print("python"+"is fun")

pythonis fun

In [4]:
# * : 반복

print("파이썬"*2)

파이썬파이썬

In [5]:
print("*"*50)
print("My Program")
print("*"*50)

**************************************************
My Program
**************************************************

2. 문자열 인덱싱과 슬라이싱

In [8]:
str1 = "Life is too short"
print(str1[3])
print(str1[-1])
print(str1[-14])

e
t
e

In [9]:
str1[0:4] # 마지막 숫자 포함 안함

'Life'

In [10]:
str1[4:8]

' is '

In [11]:
str1[9:]

'oo short'

In [12]:
str1[:15]

'Life is too sho'

In [13]:
str1[0:-4]

'Life is too s'

In [21]:
str2 = "20210629sunny"

#년 월 일
date = str2[:8]
#날씨
weather = str2[8:]

print(date,weather)

20210629 sunny

In [22]:
# date 를 2021-06-29로 출력

year = date[:4]
month = date[4:6]
day = date[6:]

print(year,month,day, sep="-")

2021-06-29

In [41]:
# 주민번호의 8번째 자리수를 사용해서 남,여 판별(1,3 : 남자 2,4: 여자)

str3 = "901204-1234567"

gender = int(str3[7])

if(gender == 1):
    print("남자 입니다.")
elif(gender == 3):
    print("남자 입니다.")
elif(gender == 2):
    print("여자 입니다.")
elif(gender == 4):
    print("여자 입니다.")
else:
    print("잘못된 번호입니다.")

남자 입니다.

In [40]:
no = str[7]

if no == "1" or no == "3":
    print("남자")
else:
    print("여자")

여자

In [35]:
if int(str3[7]) % 2 == 1:
    print("남자")
else:
    print("여자")

남자

In [42]:
str4 = "대한민국"

for s in str4:
    print(s+"$",end="")

대$한$민$국$

In [54]:
# 사용자한테 숫자를 입력받은 후 숫자만큼 하트를 출력
# 54321

# ♥♥♥♥♥
# ♥♥♥♥
# ♥♥♥
# ♥♥
# ♥

hstr = input("숫자를 입력하세요 : ")

for i in range(0, len(hstr)):
    for s in range(0, int(hstr[i])):
        print("♥", end=" ")
    print()

숫자를 입력하세요 : 1234321
♥
♥ ♥
♥ ♥ ♥
♥ ♥ ♥ ♥
♥ ♥ ♥
♥ ♥
♥

3.문자열 함수

In [43]:
# len() : 문자열 길이

print(len(str1))

17

In [56]:
# count() : 문자열에 포함된 특정 문자열 개수

a = "hobby"

print("a 문자열에 포함된 b 개수 :",a.count("b"))
print("a 문자열에 포함된 b 개수 : %d" % a.count("b"))
print("a 문자열에 포함된 b 개수 : {}".format(a.count("b")))

a 문자열에 포함된 b 개수 : 2
a 문자열에 포함된 b 개수 : 2
a 문자열에 포함된 b 개수 : 2

In [65]:
# find() : 문자가 시작되는 위치 찾기

str1 = "Python is best choice"
print("b 가 시작되는 첫번째 위치 : ",str1.find("b"))
print("k 가 시작되는 첫번째 위치 : ",str1.find("k")) #없는 값을 찾으려 하면 -1

b 가 시작되는 첫번째 위치 :  10
k 가 시작되는 첫번째 위치 :  -1

In [69]:
# index() : find() 같은 역할 단, 찾는 문자열이 없는 경우 ValueError

print("b 가 시작되는 첫번째 위치 : ",str1.index("b"))
#print("k 가 시작되는 첫번째 위치 : ",str1.index("k"))

b 가 시작되는 첫번째 위치 :  10

In [70]:
# startswith() : 해당 문자열로 시작하는지 여부
# endswith() : 해당문자열로 종료하는지 여부

str1 = "Python is Easy programming"
print(str1.startswith("P"))

print(str1.endswith("P"))

True
False

In [71]:
# join() : 문자열 삽입

a = ","

a.join("abcd")

'a,b,c,d'

In [74]:
# upper() : 대문자로 변경
# lower() : 소문자로 변경

a = "abcde"
print(a.upper())

b = "ABCDE"
print(b.lower())

ABCDE
abcde

In [76]:
# strip() - 양쪽 공백 제거 / rstrip() - 오른쪽 공백 제거 /lstrip() - 왼쪽 공백 제거

str1 = "      hi"
print(str1.lstrip())

str2 = "hi       "
print(str2.rstrip())

str3 = "     hi     "
print(str3.strip())

hi
hi
hi

In [77]:
# replace() : 문자열 변경

str1 = "Life is too short"
print(str1.replace("Life","Your leg"))

Your leg is too short

In [80]:
# split() : 문자열 나누기

print(str1.split()) #공백 기준으로 문자열 나눔(list 구조로 반환)

str2 = "a:b:c:d"

print(str2.split(":"))

str3 = "하나\n둘\n셋"
print(str3.splitlines()) # str3.split("\n")

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']
['하나', '둘', '셋']